body,h1,h2,h3,h4,p,dl,dt,dd,dl,ul,ol,li,form,button,input,textarea,th,td,em {
	margin: 0;
	padding: 0;
}

body,button,input,select,textarea,em {
	font: 12px/1.5 tahoma, arial, \5b8b\4f53;
}

h1,h2,h3,h4 {
	font-size: 100%;
}

ul,ol {
	list-style: none;
}

a,a:hover {
	text-decoration: none;
}